#root{
    background-color: #FFFFFF;
    border: 2px solid #E1E1E1;
    border-radius: 7px;
    position: absolute;
    top: 46px;
    right: 23px;
    align-content: space-around;
}

.option{
    display: flex;
    margin: 6px 0px;
}

.option img{
    margin: 0px 10px;
}

.option p{
    margin: 0px 10px 0px 0px;
    font-size: 14px;
    font-weight: 600;
}